<%- include('../partials/header') %>
<form action="/notifications" method="post">
    <input type="text" name="title" id="" placeholder="title">
    <input type="text" name="body" id="" placeholder="body">
    <input type="text" name="author" id="" placeholder="author">
    <input type="submit" value="Submit">
</form>
<%- include('../partials/footer') %>